* {
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body{
	padding: 0px;
	margin: 0px;
	font: 14px/1.4em Arial;
    min-width: 320px;
}

button, input[type="button"], input[type="submit"]{
	cursor: pointer;
}

button::-moz-focus-inner {
	border: 0 none;
}

button:active,button:focus {
	outline: medium none;
}

a{
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, p{
	margin: auto;
}


img:-moz-loading {
    visibility: hidden;
}

input[type="text"], input[type="button"], input[type="submit"], textarea, button {
    -webkit-appearance: none; /*Safari/Chrome*/
    -moz-appearance: none; /*Firefox*/
    -ms-appearance: none; /*IE*/
    -o-appearance: none; /*Opera*/
    appearance: none;
    -webkit-border-radius: 0;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.inner-wrapper{
	margin: 0px auto;
	max-width: 1200px;
	padding: 0px 10px;
}
a.no-decoration:hover{
    text-decoration: none;
}
.float-left{
	float:left;
}

.float-right{
	float: right;
}

.clear{
	float: none;
	clear: both;
}

.absolute{
    position: absolute;
}

/*Text*/
.center-text{
    text-align: center;
}

/*Block*/
.center-block{
    margin: 0px auto;
}

.full-dim{
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.cursor-pointer{
    cursor: pointer;
}

.clear-fix, .self-clear:before, .self-clear:after{
	visibility: hidden;
	display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*Class for disabling element selection*/
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Prevent the child's margin moving the parent*/
.parent::before,.parent::after {
  clear: both;
  content: "";
  display: table;
  margin-top: -1px;
  height: 0;
}
.cover-bg{
    background-size: cover;
    background-position: center center;
}
.no-padding{
    padding: 0px;
}
/*Colors*/
.font-white{
    color: #fff;
}
.bg-cyan{
    background-color: #27a6dd;
}
.font-cyan{
    color: #27a6dd;
}
.mask-50,.mask-50 > *{
    position: relative;
}
.mask-50:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.6);
}
.mask-50 > *{
    z-index: 1;
}

/*Page specifics*/

.page-login{
    background-image: url("../img/bg1.jpg");
    min-height: 100vh;
}
.page-login .logo{
    padding: 40px 0px;
}
.page-login .logo img{
    height: 80px;
}
.page-login .logo .logo-text{
    padding: 10px 0px;
    color: #eee;
    font-size: 1.08em;
}
.page-login .logo a:hover{
    text-decoration: none;
}
#loginForm input{
    width: 100%;
    height: 45px;
    border: none;
    margin: 4px 0px;
    padding-left: 20px;
    background: rgba(255,255,255,0.5);
    border-bottom: 5px solid #27a6dd;
    color: #013469;
    font-size: 1.2em;
}
#loginForm input[type="submit"]{
    padding-left: 0px;
    text-transform: uppercase;
    background-color: #013469;
    color: #27a6dd;
    font-size: 1.3em;
    margin-top: 7px;
    border-bottom: none;
    transition: background 0.3s;
}
#loginForm input[type="submit"]:disabled{
    background-color: #888;
}
#loginForm input:invalid{
    box-shadow: 0px 0px 2px 1px red;
}
#loginForm ul li{
list-style: none}
#loginForm ul li input{
    width: auto;
    vertical-align: middle;
    height: auto;
}
.login-container{
    min-height: calc(100vh - 100px);
    padding-bottom: 20px;
}
.page-login .bottom img{
    width: 60px;
    padding: 4px;
}
.page-login .bottom .dl-guide{
    color: #fff;
    font-size: 1.2em;
    margin: 21px 0px 10px 20px;
}
.page-login .bottom .dl-guide span{
    font-weight: bold;
    font-size: 1.4em;
}

/*Responsive Units*/

@media screen and (max-width:450px){
    #loginForm ul li label{
        font-size: 0.9em;
    }
}