<!DOCTYPE html>
<html>
	<head>
		<title>Login FLUID</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="img/shortcuticon.jpg" rel="shortcut icon">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body ng-app="app">
	<div class="wrapper page-login cover-bg mask-50" ng-controller="Login">
		
		<div class="inner-wrapper self-clear">
			<div class="logo pull-left">
				<a href="#">
					<img src="img/logo-fluid.png">
					<p class="font-white logo-text">Building Engagement & Loyalty for your Brand</p>
				</a>
			</div>
			
			<div class="self-clear login-container">
				<form id="loginForm" name="loginForm" class="pull-right col-md-4 col-sm-6 col-xs-12" action="login.html">
					
				
					<label class="font-white">Reset your password</label>
					<input name="username" type="password" placeholder="New Password" required ng-model="form.password">
					<input name="username" type="password" placeholder="Retype Password" required ng-model="form.repassword">
					
					
					<input type="submit" value="Reset" ng-disabled="form.password != form.repassword">
				</form>
			</div>
			
			<div class="self-clear bottom text-center">
				<a href="#">
					<img src="img/facebook.png">
				</a>
				<a href="#">
					<img src="img/twitter.png">
				</a>
				<a href="#">
					<img src="img/linkedin.png">
				</a>
				<a href="#">
					<img src="img/google+.png">
				</a>
				
				
				<a class="pull-right dl-guide no-decoration" href="#">
					Download Guide <span class="font-cyan">&rsaquo;&rsaquo;</span>
				</a>
			</div>
		</div>
	
	</div>	
	
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
</body>
</html>